# logs
log/*
logs/*

# temp files
*.log
*.swo
*.swp
*.tmp
*.vi
*.lp
*~
.DS_Store
.vscode
cache/*

# jupyter notebook cache
.ipynb_checkpoints/

# manual backups
backup/

# static results
public/results-static/

# large data
rawdata/forecasts/
rawdata/forecasts_old/
rawdata/hospitalization_data/
rawdata/csse_confirmed_cases.csv

# analysis
analysis/
validation/

