# data
data/
rawdata/

# logs
log/*
logs/*

# temp files
*.log
*.swo
*.swp
*.tmp
*.vi
*.lp
*~
.DS_Store
.vscode
cache/*

# jupyter notebook cache
.ipynb_checkpoints/

# manual backups
backup/

# static results
public/results-static/

# analysis
analysis/
validation/

# other
todo.md

# julia
julia-*/
