# logs
log/*
logs/*

# temp files
*.log
*.swo
*.swp
*.tmp
*.vi
*.lp
*~
.DS_Store
.vscode
cache/*

# jupyter notebook cache
.ipynb_checkpoints/

# manual backups
backup/

# static results
public/results-static/

# raw data
rawdata/

# analysis
analysis/
validation/

