.section {
	width: 85%;
	max-width: none;
}

#home-main {
	display: flex;
	flex-direction: column;
}

.homepage-section-preview {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px solid #f1f1f1;
	padding: 0.8em;
}

.homepage-section-preview > .preview-img {
	width: 45%;
	height: auto;
}

.homepage-section-preview > .content {
	width: 50%;
}

.homepage-section-preview:hover {
	cursor: pointer;
	border: 1px solid #c5c5c5;
}

.homepage-section-preview:hover .title {
	color: #3273dc;
}

.eml {
	background-color: #f9f9f9;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 0 2px 0 2px;
}

.tabs {
	margin-bottom: 0px !important;
}
