.section {
	width: 85%;
	max-width: none;
}

#home-main {
	display: flex;
	flex-direction: column;
}

.homepage-section-preview {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px solid #f1f1f1;
}

.homepage-section-preview > .preview-img {
	width: 60%;
	height: auto;
}

.homepage-section-preview > .preview-content {
	width: 38%;
}

.homepage-section-preview .title-link {
	margin-bottom: 1em;
	display: block;
}

.homepage-section-preview:hover {
	border: 1px solid #c5c5c5;
}

.homepage-section-preview .preview-img {
	cursor: pointer;
}

.homepage-section-preview .title:hover {
	color: #3273dc;
}

.subtitle {
	color: #3273dc !important;
}

.eml {
	background-color: #f9f9f9;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 0 2px 0 2px;
}

.tabs {
	margin-bottom: 0px !important;
}

.description-hidden-label {
	cursor: pointer;
}

.icon-expand-text {
	vertical-align: text-bottom;
	margin-left: 0px;
}

@media only screen and (max-width: 600px) {
	.section {
		width: 100%;
	}
	.homepage-section-preview {
		flex-direction: column;
		padding: 0.8em;
	}
	.homepage-section-preview > .preview-img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	.homepage-section-preview > .preview-content {
		width: 100%;
	}
	.homepage-section-preview .title-link {
		margin-bottom: 10px;
	}
}
