.navbar {
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
	background-color: #f9f9f9 !important;
}

#navbar-brand-img {
	height: 2rem;
	max-height: 2rem;
	margin-right: 5px;
}

.navbar-brand > .navbar-item {
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 10px;
}

#navbar-menu {
	text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#navbar-title > a {
	color: #4a4a4a;
	font-weight: bold;
}
