.section {
	width: 80%;
	max-width: 1200px;
	margin: auto;
	padding-top: 0.5em !important;
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid lightgray;
}

.table-container {
	max-height: 80vh;
	overflow-y: scroll !important;
}

.date {
	text-align: center;
	line-height: 1em !important;
}

.field:not(:last-child) {
	margin-bottom: 0px !important;
}

#form-submit {
	line-height: 1em;
}

th, td {
	text-align: right !important;
}

th {
	white-space: pre;
}

.info-icon {
	height: 1em;
	margin-left: 3px;
	vertical-align: text-bottom;
	cursor: pointer;
}

.caption {
	margin-top: 10px;
	margin-bottom: 10px;
}

#metrics-table {
	margin-left: auto;
	margin-right: auto;
}

.metric-name-elem {
	font-weight: bold;
	text-align: left !important;
}

.metric-value-elem {
	font-family: monospace;
	width: 25%;
}

#result-area {
	padding: 0;
}

.results-section {
	border: 1px solid lightgray;
	padding: 15px;
}

.results-section-header {
	border-bottom: 1px solid lightgray;
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}

.results-section-header-title {
	margin-bottom: 0 !important;
	padding: 5px;
}

.results-section-header-subtitle {
	margin-bottom: 10px !important;
	padding: 5px;
}

.results-section-content {
	margin-top: 15px;
}

.section-toggle-button {
	height: 100%;
	align-self: center;
	padding: 3px;
}

.section-toggle-icon {
}

.form-weights-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 10px;
}

.input-range-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="range"] {
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
	width: 30px;
}

.text-centered {
	text-align: center !important;
}

.hospital-select-container {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin: auto;

	border: 1px solid lightgray;
	border-radius: 4px;

	padding: 5px;
	margin-bottom: 1rem;

	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.hospital-select-header {
	font-weight: bold;
}

.hospital-select-area {
	display: flex;
	flex-direction: column;
	max-height: 200px;
	overflow-y: scroll;
}

.hospital-select-area.static-page {
	max-height: 180px;
	border-bottom: 1px solid gray;
}

.hospital-select-item {
	border: 1px solid white;
	border-radius: 4px;

	padding: 1px 5px 1px 5px;

	white-space: nowrap;
}

.hospital-select-item:hover {
	opacity: 0.8;
}

.hospital-select-item input {
	margin-right: 5px;
}

.hospital-select-item-selected {
	border: 1px solid blue;
}

.hospital-select-list {
	max-height: 100px;
	overflow-y: scroll;

	border-bottom: 1px solid lightgray;
	margin-bottom: 4px !important;
}

.hospital-select-list.static-page {
	max-height: 80px;
}

.hospitalselect-tag {
	margin-bottom: 0.25rem !important;
}

#static-params-form {
	display: flex;
	justify-content: space-between;
}

#static-params-form > .field {
	width: 49%;
	min-width: 49%;
}

#params-form-submit {
	width: 45%;
	margin: auto;
	margin-top: 25px;
	display: flex;
}

@media only screen and (max-width: 600px) {
	.section {
		width: 95%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.description-howto-label {
	font-weight: bold;
	cursor: pointer;
}

.description-hidden-label {
	cursor: pointer;
}

.hidden {
	display: none !important;
}

.icon-expand-text {
	vertical-align: text-bottom;
	margin-left: 0.1em;
}

table.is-hoverable-custom > tr:hover {
	background-color: #fafafa;
}

.abbrev-text {
	color: #3273dc;
	cursor: pointer;
}
