.section {
	width: 80%;
	max-width: 1200px;
	margin: auto;
	padding-top: 0.5em !important;
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid lightgray;
}

.table-container {
	max-height: 80vh;
	overflow-y: scroll !important;
}

.date {
	text-align: center;
	line-height: 1em !important;
}

.field:not(:last-child) {
	margin-bottom: 0px !important;
}

#form-submit {
	line-height: 1em;
}

th, td {
	text-align: right !important;
}

th {
	white-space: pre;
}

.info-icon {
	height: 1em;
	margin-left: 3px;
	vertical-align: text-bottom;
}

#metrics-table {
	margin-left: auto;
	margin-right: auto;
}

.metric-name-elem {
	font-weight: bold;
	text-align: left !important;
}

.metric-value-elem {
	font-family: monospace;
	width: 25%;
}

#result-area {
	padding: 0;
}

.results-section {
	border: 1px solid lightgray;
	padding: 15px;
}

.results-section-header {
	border-bottom: 1px solid lightgray;
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}

.results-section-header-text {
	margin-bottom: 0 !important;
	padding: 5px;
}

.results-section-content {
	margin-top: 15px;
}

.section-toggle-button {
	height: 100%;
	align-self: center;
	padding: 3px;
}

.section-toggle-icon {
}

.form-weights-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 10px;
}

.input-range-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="range"] {
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
	width: 30px;
}

.text-centered {
	text-align: center !important;
}

.hospital-select-header {
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.hospital-select-container {
	display: flex;
	flex-direction: column;

	max-width: 500px;
	max-height: 200px;
	overflow-y: scroll;
	margin: auto;
}

.hospital-select-item {
	border: 1px solid white;
	border-radius: 4px;

	margin: 2px;
	padding: 1px 5px 1px 5px;

	white-space: nowrap;
}

.hospital-select-item input {
	margin-right: 5px;
}

.hospital-select-item-selected {
	border: 1px solid blue;
}
