.table-area {
	height: 500px;
	overflow: scroll;
	margin-bottom: 50px;
}

.maparea {
	max-width: 1000px;
	margin: auto;
	margin-bottom: 10px;
}

.section {
	width: 94%;
	margin: auto;
	padding-top: 0.5em;
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid lightgray;
}

@media (max-width: 750px) {
	.section {
		padding: 0;
		padding-top: 0.25em;
	}
}
