<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>COVID-19 Patient Redistribution</title>

	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.1/css/bulma.min.css">

	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/about.css">
	<link rel="stylesheet" href="/css/data.css">

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<script async defer data-domain="covid-hospital-operations.com" src="https://plausible.io/js/plausible.js"></script>
	<script src="/js/menu.js"></script>
</head>

<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a href="/home" class="navbar-item">COVID-19 Capacity Management</a>
			<a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbar-menu" class="navbar-menu">
			<div id="navbar-main" class="navbar-start">
				<a href="/patients-static" class="navbar-item is-tab">Dashboard</a>
				<a href="/patients-interactive" class="navbar-item is-tab">Customize Results</a>
				<a href="/data-explore" class="navbar-item is-tab">Explore Data</a>
				<a href="/hospital-selection" class="navbar-item is-tab">Nearby Hospitals</a>
				<a href="/region-selection" class="navbar-item is-tab">Explore Regions</a>
				<a href="/status-report" class="navbar-item is-tab">Status Report</a>
				<a href="/guide" class="navbar-item is-tab">Guide</a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a href="/about" class="navbar-link">About</a>
					<div class="navbar-dropdown">
						<a href="/home" class="navbar-item">Overview</a>
						<a href="/about" class="navbar-item">Read More</a>
						<a href="/about-us" class="navbar-item">About Us</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<section class="section">

		<div class="container">
			<h4 class="title is-4">Hospitalization Data</h4>
			<h5 class="subtitle is-5" style="color: #656565 !important;">Explore individual hospital data</h5>
		</div>

		<div class="container" id="results-container">
			<div id="main-content-area">
				<form id="form" class="form" autocomplete="off">

					<div class="field is-horizontal">
						<label class="label column is-2" for="datatype-select">Data Type:</label>
						<div class="select is-fullwidth"><select v-model="datatype" id="datatype-select">
							<option value="occupancy">Occupancy</option>
							<option value="admissions">Admissions</option>
						</select></div>
					</div>
	
					<div class="field is-horizontal">
						<label class="label column is-2" for="patienttype-select">Patient Type:</label>
						<div class="select is-fullwidth"><select v-model="patienttype" id="patienttype-select">
							<option value="all" disabled>All</option>
							<option value="covid" selected>COVID-19 Positive</option>
							<option value="noncovid" disabled>COVID-19 Negative</option>
						</select></div>
					</div>

					<div class="field is-horizontal">
						<label class="label column is-2" for="bedtype-select">Bed Type:</label>
						<div class="select is-fullwidth"><select v-model="bedtype" id="bedtype-select">
							<option value="all">All</option>
							<option value="icu" selected>ICU</option>
							<option value="acute">Acute</option>
						</select></div>
					</div>

					<div class="field is-horizontal" style="margin-bottom: 20px;">
						<label class="label column is-2" for="hospital-select">Hospitals:</label>

						<div class="hospital-select-container" id="hospital-select-container">
							<div class="hospital-select-list field is-grouped is-grouped-multiline">
								<div v-for="h in selected_hospitals" class="hospitalselect-tag control">
									<div class="tags has-addons">
										<a class="tag is-delete is-danger is-light" @click="addOrRemove(selected_hospitals, h)"></a>
										<span class="tag">{{ hospital_names[h] }}</span>
									</div>
								</div>
							</div>
							<div class="control has-icons-left has-icons-right" style="margin-top: 5px; margin-bottom: 5px;">
								<input v-model="search_term" type="text" class="input" placeholder="Search">
								<span class="icon is-left"><ion-icon name="search-outline"></ion-icon></span>
								<span class="icon is-right"><ion-icon name="close-outline"></ion-icon></span>
							</div>
							<div class="hospital-select-area">
								<ul>
									<template v-for="h in hospitals_filtered">
										<li class="hospital-select-item" @click="addOrRemove(selected_hospitals, h.hospital_id)" :class="{'hospital-select-item-selected': selected_hospitals.includes(h.hospital_id)}">
											{{ h.hospital_name }}
										</li>
									</template>
								</ul>
							</div>
							<div id="hospitalselect-footer">
								<div id="hospitalselect-buttons-container" class="buttons" style="margin-top: 8px; display: flex; justify-content: space-between;">
									<button type="button" class="button is-light is-small" style="width: 32%;">Select All</button>
									<button type="button" class="button is-light is-small" style="width: 32%;">Select None</button>
									<button type="button" class="button is-light is-small" style="width: 32%;">Reset</button>
								</div>
							</div>
						</div>

					</div>

				</form>

				<div v-for="h in selected_hospitals" :key="h">
					<data-figure :hospital-id="h" :datatype="this.datatype" :patienttype="this.patienttype" :bedtype="this.bedtype"></data-figure>
				</div>

			</div>
			<div id="progressbar-area" class="column is-10 is-offset-1">
				<div class="notification">Updating...</div>
				<progress class="progress is-small is-info" max="100"></progress>
			</div>
			<div id="error-area" class="column is-10 is-offset-1 is-hidden">
				<div class="notification is-danger">Error</div>
			</div>
		</div>

	</section>

	<script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
	<script src="https://unpkg.com/tippy.js@6.2.7/dist/tippy-bundle.umd.min.js"></script>
	<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js" type="module"></script>

	<script src="https://unpkg.com/d3@6.3.1/dist/d3.min.js"></script>

	<script type="module" src="/js/common.js"></script>
	<script type="module" src="/js/figure_downloads.js"></script>
	<script type="module" src="/js/data_explore.js"></script>

</body>